<link rel="stylesheet" href="/css/pure/pure-min.css">
<link rel="stylesheet" href="/css/pure/grids-responsive-min.css">
<link rel="stylesheet" href="/public/css/styleCar.css">
<div class="banner">
    <h1 class="banner-head">
       Vehicle Repairs<br>
        Current Vehicles
    </h1>
</div>

<div class="l-content">
    
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                    <h2>Jeep Wrangler</h2>

                    <span class="pricing-table-price">
                        <img src="https://smartcdn.prod.postmedia.digital/driving/wp-content/uploads/2021/02/chrome-image-416453.png" alt="Wrangler">
                    </span>
                </div>

                <ul class="pricing-table-list">
                    {{!-- Gets Car info --}}
                    <li>{{first_name}}</li>
                    <li>{{last_name}}</li>
                    <li>{{description}}</li>
                    <li>{{vehicle}}</li>
                    <li>{{phone}}</li>
                    <li>{{date_created}}</li>
                    <li>{{company_id}}</li>
                    <li>{{reference_id}}</li>
                </ul>

                <button class="button-choose pure-button">Edit</button>
            </div>
        </div>
    </div> 
