<div>
    <div class="splash-container2">
    <div class="splash2">
        <h1 class="splash-head2">Welcome {{name}} </h1>
        <p class="splash-subhead2">
            Here are the current vehicles under repair.
        </p>
    </div>
    </div>
</div>
    
<div class="l-content">
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                       <h2 class="car">Vehicle</h2>
                    <span class="pricing-table-price">
                        {{vehicle}} <span>{{employee_id}}</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Customer</li>
                    <li>{{first_name}} {{last_name}}</li>
                    <li>Phone Number</li>
                    <li>{{phone}}</li>
                    <li>Description</li>
                    <li>{{description}}</li>
                </ul>

                <button class="button-choose pure-button">Edit</button>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                       <h2 class="car">Vehicle</h2>

                    <span class="pricing-table-price">
                        {{vehicle}} <span>{{employee_id}}</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Customer</li>
                    <li>{{first_name}} {{last_name}}</li>
                    <li>Phone Number</li>
                    <li>{{phone}}</li>
                    <li>Description</li>
                    <li>{{description}}</li>
                </ul>

                <button class="button-choose pure-button">Edit</button>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                       <h2 class="car">Vehicle</h2>

                    <span class="pricing-table-price">
                        {{vehicle}} <span>{{employee_id}}</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Customer</li>
                    <li>{{first_name}} {{last_name}}</li>
                    <li>Phone Number</li>
                    <li>{{phone}}</li>
                    <li>Description</li>
                    <li>{{description}}</li>
                </ul>

                <button class="button-choose pure-button">Edit</button>
            </div>
        </div>
    </div> <!-- end pricing-tables -->
     <div class="footer l-box is-center">
        <p>
            <button class="button-choose pure-button-primary">Add New Vehicle</button>
        </p>
    </div>

{{!-- <div class="content-wrapper">
    <div class="content">
      <button class="button-choose pure-button">Add New Vehicle</button>

    </div>
</div> --}}
    
     
        
    
            